.container {
    background-color: #c00025;
    width: 100%;
    max-width: 550px;
    border-radius: 15px;
    padding-top: 25px;
    padding-left: 15px;
    border: 2px solid grey;
    padding-bottom: 25px;
}
.display {
    margin-top: 25px;
    height: 100px;
    width: 450px;
    border-radius: 50px;
    color: white;
    background-color: #322c2d;
    box-shadow: 1px 1px #322c2d;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 8%;
    font-size: 5.0rem;
  }

  .buttonsContainer{
    display: flex;
  }

  .left-buttons{
      width: 70%;
      /* flex-grow: 1; */
  }

  .right-buttons {
      display: flex;
      flex-direction: column;
      /* width: 10%; */
  }

  .db-button {
    border-radius: 50%;
    background: darkblue;
    padding: 1rem;
    margin: .5rem 8%;
    color: white;
    font-size: 1.3rem;
    /* width: 30%; */
  }

  .op-button {
    border-radius: 50%;
    background: lightblue;
    padding: 1rem;
    margin: .5rem 0;
    color: black;
    font-size: 1.3rem;
    /* width: 30%; */
  }

  .ch-button {
    border-radius: 50%;
    background: lightblue;
    padding: 1rem;
    margin: .5rem 8%;
    color: black;
    font-size: 1.3rem;
    /* width: 30%; */
  }